.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.counter {
  margin-bottom: 30px;
}

.counter button {
  background: #2b9cbb;
  border-radius: 5px;
  border: 1px solid #58afc7;
  border-bottom: 3px solid #58afc7;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 150px;
  text-shadow: 1px 1px 1px #1b5a6b;
  user-select: none;
  outline: none;
  font-weight: bolder;
  font-size: 20px;
}

.counter button:active {
  border-bottom: 0;
  margin-bottom: 3px;
  position: relative;
  top: 3px;
}

.counter strong {
  display: block;
  font-size: 30px;
  margin: 0 0 15px 0;
}

h2 {
  margin: 0 0 15px 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.circle {
  background: white;
  border-radius: 100%;
  height: 50px;
  position: absolute;
  width: 50px;
}
