body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  background-color: #20232a;
  color: #4dd9fe;
  font-size: 32px;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.sections {
  display: grid;
  grid-auto-columns: 50%;
  grid-template-areas: "counter newsletter-signup";
  grid-template-rows: 100vh;
  width: 1080px;
}

.sections section {
  margin-right: 5px;
}

.sections h2 {
  font-size: 20px;
  text-shadow: 1px 1px 1px #444;
}

.button {
  background-color: #fff;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 10px;
}
