.todos {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.todos li {
  align-items: center;
  background: #00BCD4;
  border-radius: 2px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  padding: 5px;
  width: 250px;
}

.todos .title {
  background: transparent;
  border: 0;
  color: #ffffff;
  display: flex;
  flex: 1 1;
  font-weight: 600;
  justify-content: flex-start;
  outline: none;
  padding: 4px 0 4px 0;
  text-indent: 3px;
}

.todos .title:focus {
  background: #1aabbd;
}

.todos .title:disabled {
  user-select: none;
}

.todos .complete .title {
  color: #087684;
  text-decoration: line-through;
}

.todos li:not(.complete) .todo-button.check {
  background: #15a1bb;
}

.todo-button.trash {
  background: transparent;
}

.todo-button {
  background: #ffffff;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  outline: none;
  padding: 0;
}

.todo-button img {
  border-radius: 5px;
  border: 1px solid transparent;
  width: 18px;
}
